<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="col-md-8 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center"><span class="fa fa-sign-in"></span>Login</h1>
                    
                    <% if (massage.length > 0) { %>
                    <div class="alert alert-danger"><%= massage %></div>
                    <% } %>
                    
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="Email..." class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="Password..." class="form-control">
                        </div>
                        <button type="submit" class="btn btn-dark btn-lg btn-block">Login</button>
                    </form>
                    <br>
                    <div class="text-center">
                        <p>Registrarse? <a href="/signup">Aquí!</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>